.header {
  height: $header_height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark_blue;
  color: $white;
  @include screenLarge() {
    justify-content: flex-end;
    background-color: $white;
    border-bottom: 2px solid $light_grey;
    color: pink;
  }
}

.header__nav-toggle {
  z-index: 10;
  @include screenLarge() {
    display: none;
  }
}

.logo--header {
  @include screenLarge() {
    display: none;
  }
}
