.icon-notify {
  @extend %icon-header;
  fill: $med_grey;
}

.icon-nav-toggle {
  @extend %icon-header;
  fill: $light_grey;
}

.icon-menu {
  height: $icon_menu_width;
  width: $icon_menu_width;
  fill: $med_grey;
}

.icon-search {
  height: 1.6rem;
  width: 1.6rem;
  fill: darken($med_grey, 20%);
}

.icon-table-sort {
  width: 1.5rem;
  height: 1.5rem;
  fill: $strong_blue;
  opacity: 0;
  transition: opacity $nav_transition;
}

.icon-table-icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: $med_grey;
}
