// pallet
$white: #fff;
$light_grey: #f4f5f8;
$med_grey: #b2bdcc;
$dark_grey: #303030;
$dark_blue: #1b3b71;
$light_blue: #4a67aa;
$strong_blue: #407cf6;
$turquoise: #2fd9c9;
$orange: #fc6e50;

$data_card_font_size: 0.9rem;

// box shadow
$card_shadow: 0px 2px 6px -6px rgba(0, 0, 0, 0.4);

// element colors
$credit_caption_color: darken($med_grey, 20%);

// layout values
$base_margin_small: 1rem;
$base_margin_med: 2rem;

$nav_width: 220px;
$header_height: 3rem;
$icon_header_width: 24px;
$icon_menu_width: 25px;

// animation
$transition_time: 0.2s;
$nav_transition: $transition_time cubic-bezier(0.98, 0.03, 0.2, 0.93);
