.layout-nav {
  width: $nav_width;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 0 $base_margin_small;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform $nav_transition;
  background-color: $dark_blue;
  @include screenMed() {
    padding: 0 $base_margin_med;
  }
  @include screenLarge() {
    position: static;
    width: auto;
  }
}

.layout-overlay {
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity $nav_transition, visibility $nav_transition;
  @include screenLarge() {
    display: none;
  }
}

.layout-overlay--is-hidden {
  opacity: 0;
  visibility: hidden;
}

.layout-nav--is-hidden {
  transform: translateX(-100%);
  @include screenLarge() {
    transform: translateX(0%);
  }
}
